<div class= "row">

    <% @quotes.each do |quote| %>
        <div class="col-md-12">
         <div class="postbg">
          <div class="clearfix weuser-post">
            <div class="weuser-avatar"><%= image_tag quote.user.avatar.url(:thumb) %></div>
            <div class="weuser-name"><%= quote.user.name %></div>
          </div>
              <div class="weitem wetype">
                <span class="fa fa-bullhorn weitem wetype"></span>
              </div>
            <div class="wedate pull-right wehi">
              <%= timeago_tag quote.created_at, :nojs => true, :limit => 30.days.ago %>
            </div>
             <div class="clearfix"></div>
            <%= quote.quotefie %>
            <%= link_to 'Show', quote %>
            <div class="clearfix"></div>
            <em class="pull-right wehi"><%= " - #{quote.author}" %></em>
            <div class="clearfix"></div>
            <% if user_signed_in? %>
              <%  if (quote.user == current_user) || (current_user.admin?) %>
                  <div class="post-footer">
                    <%= link_to "Edit", edit_quote_path(quote.id) %>
                    <%= link_to "Delete", quote_path(quote.id), method: :delete %>
                  </div>
                <% end %>
              <% end %>
        </div>
      </div>
    <% end %>   
    </div>
