<div class= "row">

    <% @statuses.each do |status| %>
        <div class="col-md-12">
         <div class="postbg">
          <div class="clearfix weuser-post">
            <div class="weuser-avatar"><%= image_tag status.user.avatar.url(:thumb) %></div>
            <div class="weuser-name"><%= status.user.name %></div>
          </div>
              <div class="weitem wetype status">
                <span class="fa fa-whatsapp weitem wetype"></span>
              </div>
            <div class="wedate pull-right wehi">
              <%= timeago_tag status.created_at, :nojs => true, :limit => 30.days.ago %>
            </div>
             <div class="clearfix"></div>
            <%= status.statusfie %>
            <% if user_signed_in? %>
              <%  if (status.user == current_user) || (current_user.admin?) %>
                  <div class="post-footer">
                    <%= link_to "Edit", edit_status_path(status.id) %>
                    <%= link_to "Delete", status_path(status.id), method: :delete %>
                  </div>
                <% end %>
              <% end %>
        </div>
      </div>
    <% end %>   
    </div>
