<div class= "row">
  <div class="col-md-6 col-md-offset-3 weform top-margin">

      <% if current_page?(new_fact_path) %>
        <h2 class="weform-title">Submit Fact</h2>
      <% else %>
        <h2 class="weform-title">Editing Fact</h2>
      <% end %>


      <%= form_for(@fact) do |f| %>
        <% if @fact.errors.any? %>
          <div id="error_explanation" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

            <ul>
            <% @fact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :fact %><br>
          <%= f.text_area :factfie, class: "weform-input-big" %>
        </div>
        <div class="form-group">
          <%= f.submit ("Submit"), class: "btn btn-success" %>
        </div>
      <% end %>

  </div>
</div>
