<div class= "row">

    <% @facts.each do |fact| %>
        <div class="col-md-12">
          <div class="postbg">
            <div class="clearfix weuser-post">
              <div class="weuser-avatar"><%= image_tag fact.user.avatar.url(:thumb) %></div>
              <div class="weuser-name"><%= fact.user.name %></div>
           </div>
           <div class="weitem wetype fact">
                <span class="fa fa-lightbulb-o weitem wetype"></span>
              </div>
           <div class="wedate pull-right wehi">
              <%= timeago_tag fact.created_at, :nojs => true, :limit => 30.days.ago %>
            </div>
           <div class="clearfix"></div>
            <%= fact.factfie %>
            <% if user_signed_in? %>
              <%  if (fact.user == current_user) || (current_user.admin?) %>
                  <div class="post-footer">
                    <%= link_to "Edit", edit_fact_path(fact.id) %>
                    <%= link_to "Delete", fact_path(fact.id), method: :delete %>
                  </div>
                <% end %>
              <% end %>
          </div>
      </div>
    <% end %>   
    </div>
