<% if @items.any? %>
    
    <div class="col-md-12">

      <% @items.each do |item| %>

      <% if item.is_a? Quote %>

        <div class="postbg">
            <%= item.quotefie %>
            <div class="wedate pull-right wehi">
              <%= item.created_at.strftime("%b %d, %Y") %>
            </div>
            <%= link_to 'Show', item %>
            <div class="clearfix"></div>
            <em class="pull-right wehi"><%= item.author %></em>
        </div>

      <% elsif item.is_a? Joke %>

          <div class="postbg weitem joke">
            <%= item.jokefie %>
            <div class="wedate pull-right wehi">
              <%= item.created_at.strftime("%b %d, %Y") %>
            </div>
          </div>

          <% elsif item.is_a? Image %>
            <div class="postbg">
              <%= item.title %>
              <%= image_tag item.image.url(:medium) %>
              <%= item.description %>
              <div class="wedate pull-right wehi">
              <%= item.created_at.strftime("%b %d, %Y") %>
            </div>
            </div>

            <% else %>

              <div class="postbg">
                <%= item.factfie %>
                <div class="wedate pull-right wehi">
               <%= item.created_at.strftime("%b %d, %Y") %>
            </div>
              </div>
      <% end %>
      <% end %>

    </div>

<% end %>