<div class= "row">

    <% @jokes.each do |joke| %>
        <div class="col-md-12">
         <div class="postbg">
          <div class="clearfix weuser-post">
            <div class="weuser-avatar"><%= image_tag joke.user.avatar.url(:thumb) %></div>
            <div class="weuser-name"><%= joke.user.name %></div>
          </div>
              <div class="weitem wetype joke">
                <span class="fa fa-smile-o weitem wetype"></span>
              </div>
            <div class="wedate pull-right wehi">
              <%= joke.created_at.strftime("%b %d, %Y") %>
            </div>
             <div class="clearfix"></div>
            <%= joke.jokefie %>
            <%= link_to 'Show', joke %>
        </div>
      </div>
    <% end %>   
    </div>
