<div class= "row">

    <% @jokes.each do |joke| %>
        <div class="col-md-12">
         <div class="postbg">
          <div class="clearfix weuser-post">
            <div class="weuser-avatar"><%= image_tag joke.user.avatar.url(:thumb) %></div>
            <div class="weuser-name"><%= joke.user.name %></div>
          </div>
              <div class="weitem wetype joke">
                <span class="fa fa-smile-o weitem wetype"></span>
              </div>
            <div class="wedate pull-right wehi">
              <%= timeago_tag joke.created_at, :nojs => true, :limit => 30.days.ago %>
            </div>
             <div class="clearfix"></div>
            <%= joke.jokefie %>
            <% if user_signed_in? %>
              <%  if (joke.user == current_user) || (current_user.admin?) %>
                  <div class="post-footer">
                    <%= link_to "Edit", edit_joke_path(joke.id) %>
                    <%= link_to "Delete", joke_path(joke.id), method: :delete %>
                  </div>
                <% end %>
              <% end %>
        </div>
      </div>
    <% end %>   
    </div>
