<div class= "row">

    <% @images.each do |image| %>
        <div class="col-md-12">
          <div class="postbg">
              <div class="clearfix weuser-post">
                <div class="weuser-avatar"><%= image_tag image.user.avatar.url(:thumb) %></div>
                <div class="weuser-name"><%= image.user.name %></div>
              </div>
              <div class="weitem wetype image">
                <span class="fa fa-picture-o weitem wetype"></span>
              </div>
              <div class="wedate pull-right wehi">
                <%= timeago_tag image.created_at, :nojs => true, :limit => 30.days.ago %>
              </div>
              <div class="clearfix"></div>
              <h2 class="wecenter" style="margin:0;"><%= image.title %></h2>
              <div class="clearfix"></div>
                <div class="wecenter image-item-wrap" style="margin:15px;">
                  <%= image_tag image.image.url(:medium) %>
                </div>
              <p><%= image.description %></p>
              <% if user_signed_in? %>
              <%  if (image.user == current_user) || (current_user.admin?) %>
                  <div class="post-footer">
                    <%= link_to "Edit", edit_image_path(image.id) %>
                    <%= link_to "Delete", image_path(image.id), method: :delete %>
                  </div>
                <% end %>
              <% end %>
            </div>
      </div>
    <% end %>   
    </div>
