<div class= "row">

    <% @images.each do |image| %>
        <div class="col-md-12">
          <div class="postbg">
              <div class="clearfix weuser-post">
                <div class="weuser-avatar"><%= image_tag image.user.avatar.url(:thumb) %></div>
                <div class="weuser-name"><%= image.user.name %></div>
              </div>
              <div class="weitem wetype image">
                <span class="fa fa-picture-o weitem wetype"></span>
              </div>
              <div class="wedate pull-right wehi">
                <%= image.created_at.strftime("%b %d, %Y") %>
              </div>
              <div class="clearfix"></div>
              <h2 class="wecenter" style="margin:0;"><%= image.title %></h2>
              <div class="clearfix"></div>
                <div class="wecenter image-item-wrap" style="margin:15px;">
                  <%= image_tag image.image.url(:medium) %>
                </div>
              <p><%= image.description %></p>
            </div>
      </div>
    <% end %>   
    </div>
